@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #fefeea;
}

header {
  background-color: #fffddf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  color: #2d7a5f;
  font-weight: bold;
  font-size: 25px;
}

.logo img {
  width: 90px;
  height: 90px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #2d7a5f;
  font-weight: 500;
  font-size: 20px;
}

main {
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fefeea;
    color: #4d6b3c;
}

th, td {
    border: 1px solid #d3e2af;
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #e6efc2;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #4d6b3c;
}

button {
    background-color: #e6efc2;
    color: #4d6b3c;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #cbd3aa;
}